<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="shortcut icon" href="/houtai/img/favicon.ico" >
		<meta charset="UTF-8">
		<title>订单管理</title>
		<link rel="stylesheet" href="/houtai/css/bootstrap.css" />
	</head>

	<body style="background-color: #e6ecf5;">
		<div class="operation" style="margin: 40px 0px" >

			<button class="btn btn-danger" id="from_delete_all_btn" style="margin-left:880px;">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				删除选中</button>
		</div>
		<div class="user">
			<table class="table table-striped" id="user_table">
				<thead>
					<tr>
						<th><input type="checkbox" id="check_all" /></th>
						<th>#</th>
						<th>标题</th>
						<th>时长</th>
						<th>视频地址</th>
						<th>章节</th>
						<th>简介</th>
						<th>操作</th>
					</tr>
					

					<tr th:each="mv:${MV.list}">
						<th><input type="checkbox" class="check_item" /></th>
						<th th:text="${mv.mvinfoId}"></th>
						<th th:text="${mv.mvinfoName}"></th>
						<th th:text="${mv.mvinfoTime}"></th>
						<th th:text="${mv.mvinfoMv}"></th>
						<th th:text="${mv.section.sectionTitle}"></th>
						<th th:text="${mv.mvinfoInfo}"></th>
						<th>
							<button class="btn btn-danger" id="from_del_modal_btn" th:value="${mv.mvinfoId}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								删除
							</button>
						</th>
					</tr>
				</thead>
			</table>
		</div>
		
		
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				当前第 <strong th:text="${MV.pageNum}"></strong> 页,
				总共 <strong th:text="${MV.pages}"></strong> 页,
				总共 <strong th:text="${MV.total}"></strong> 条数据;
			</div>
			<div class="col-md-6">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a th:href="@{/getMV(pn=1)}" aria-label="Previous" >
								<span aria-hidden="true">首页</span>
							</a>
						</li>

						<li >
							<a th:if="${MV.hasPreviousPage}" th:href="@{/getMV(pn=${MV.pageNum-1})}" aria-label="Previous" >
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:each="pns:${MV.navigatepageNums}" th:class="${pns==MV.getPageNum()?'active':''}">
							<a th:href="@{/getMV(pn=${pns})}" th:text="${pns}"></a>
						</li>

						<li>
							<a th:if="${MV.hasNextPage}" th:href="@{/getMV(pn=${MV.pageNum+1})}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
						<li>
							<a th:href="@{/getMV(pn=${MV.pages})}" aria-label="Previous" >
								<span aria-hidden="true" disabled="disabled">末页</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/houtai/js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/houtai/js/bootstrap.js"></script>
	<script type="text/javascript"></script>
	<script>
		$(function() {
            //点击删除
            $(".btn-danger").click(function() {
                var url="[[@{/getMV(pn)}]]=";
                var MVId=$(this).attr("value");
                if(MVId!=""&&MVId!=null){
                if (confirm("确定要删除该视频吗?")){
                    $.post("deleteMV",{"idss":MVId},function (data) {
                        if (data!=null&&data!=""){
                            window.location.href=url+[[${MV.getPageNum()}]];
                            alert("删除成功");

                        }
                    });
                }
                }
            });

            var MVId ="";
            //删除选中的信息
            $("#from_delete_all_btn").click(function () {
                var url="[[@{/getMV(pn)}]]=";
                $.each($(".check_item:checked"),function(){
                    MVId += $(this).parents("tr").find("th:eq(1)").text()+"-";
                });
                MVId = MVId.substring(0,MVId.length-1);
               	if (MVId!=""&&MVId!=null){
                    if (confirm("确认删除吗?")) {
                        $.post("deleteMV",{"idss":MVId}, function (data) {
                            if (data!=""&&data!=null){
                                window.location.href=url+[[${MV.getPageNum()}]];
                                alert("删除成功!");
							}
                        });
                    }
				}else{
               	    alert("请先选择再进行此操作!");
				}

            });

            //点击全选
            $("#check_all").click(function () {
                $(".check_item").prop("checked",$(this).prop("checked"));
            });

            //都选中后权重全选按钮
            $(document).on("click",".check_item",function () {
                var flag = $(".check_item:checked").length==$(".check_item").length;
                $("#check_all").prop("checked",flag);

            });


		});
	</script>

</html>
